*{
    font-family:'Young Serif', serif;
    margin:0px;
    padding: 0px;
}
.section-1{
    background-color: black;
    color: white;
    padding: 10px;
    padding-bottom: 14px;
    margin: 10px;
    /* height: 150px; */
}
.section-1__name{
    text-size-adjust: 10px;
}
.section-1__role{
    margin-top: 10px;
}
.section-1__contact{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 6px;
    /* border: 2px solid white; */
    /* padding-top: 10px; */
    margin-top: 10px;
    display: inline-block; 
}
.section-2{
    margin: 10px;
    margin-top: 15px;

}
.section-2__lore{
    margin-top: 10px;
}
.section-3{
    background-color: violet;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    height: 168px;
    padding: 10px;
    border-radius: 5px;

}
.section-3__heading{

}
.section-3__list{
    list-style: none;
    margin-top: 10px;
    
}
.section-4{
    background-color: orange;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.section-4__list{
    list-style: none;
}
.section-5{
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}
.section-5__insta{
    text-decoration: none;
    color: burlywood;
}
.section-5__link{
    text-decoration: none;
    color: blanchedalmond;
}